<div >
  <!-- <div class="flex items-center gap-2">
      <span class="text-sm text-gray-700 dark:text-gray-300">
        Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ claims.length }} claims
      </span>
  </div> -->
  <div class="flex items-center space-x-2">
    <button
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 0"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-700"
        >
          Previous
    </button>

    <div class="flex items-center space-x-1">
      <ng-container *ngFor="let page of pages">
        <button
          (click)="changePage(page)"
          [class.bg-blue-600]="currentPage === page"
          [class.text-white]="currentPage === page"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-700"
        >
          {{ page + 1 }}
        </button>
      </ng-container>
    </div>

    <button
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage >= totalPages - 1"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-700"
        >
          Next
    </button>
  </div>
</div>
